name: build

on:
  push:
    branches:
      - master
      - dev
  schedule:
    - cron: "0 12 * * 0"
  workflow_dispatch:

jobs:
  php:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ["8.3", "8.4"]
        os: ["alpine", "debian"]
        variant: ["fpm-nginx", "frankenphp"]
        exclude:
          - os: "alpine"
            variant: "frankenphp"

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: cappuc
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Prepare tag
        id: prepare_tag
        run: |
          if [ "${{ matrix.variant }}" = "fpm-nginx" ]; then
            TAG="${{ matrix.php }}-fpm-${{ matrix.os }}"
          else
            TAG="${{ matrix.php }}-${{ matrix.variant }}-${{ matrix.os }}"
          fi

          if [ $GITHUB_REF_NAME != "master" ]; then
            TAG="dev-${TAG}"
          fi

          echo $TAG

          echo "tag=${TAG}" >> $GITHUB_OUTPUT

      - name: Build docker image
        uses: docker/build-push-action@v6
        with:
          context: ./php
          file: ./php/base.Dockerfile
          build-args: |
            PHP_VERSION=${{ matrix.php }}
            OS=${{ matrix.os }}
            VARIANT=${{ matrix.variant }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha,scope=php-${{ steps.prepare_tag.outputs.tag }}
          cache-to: type=gha,scope=php-${{ steps.prepare_tag.outputs.tag }},mode=min
          push: true
          tags: keepsuit/php:${{ steps.prepare_tag.outputs.tag }}

  puppeteer:
    runs-on: ubuntu-latest
    needs: [php]

    strategy:
      matrix:
        php: ["8.3", "8.4"]
        variant: ["fpm-debian", "fpm-alpine", "frankenphp-debian"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: cappuc
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build docker image
        uses: docker/build-push-action@v6
        with:
          context: ./php
          file: ./php/puppeteer.Dockerfile
          build-args: |
            IMAGE_TAG=${{ matrix.php }}-${{ matrix.variant }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: keepsuit/php:${{ matrix.php }}-${{ matrix.variant }}-puppeteer

  # laravel-app:
  #   runs-on: ubuntu-latest
  #   needs: [php]

  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         - tag: "8.2"
  #           dockerfile: php82.Dockerfile
  #         - tag: "8.3"
  #           dockerfile: php83.Dockerfile
  #         - tag: "8.4"
  #           dockerfile: php84.Dockerfile

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5

  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v3

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3

  #     - name: Login to Docker hub
  #       uses: docker/login-action@v3
  #       with:
  #         username: cappuc
  #         password: ${{ secrets.DOCKER_HUB_TOKEN }}

  #     - name: Build docker image
  #       uses: docker/build-push-action@v6
  #       with:
  #         context: ./laravel-app
  #         file: ./laravel-app/${{ matrix.dockerfile }}
  #         platforms: linux/amd64,linux/arm64
  #         cache-from: type=gha,scope=laravel-app-${{ matrix.tag }}
  #         cache-to: type=gha,scope=laravel-app-${{ matrix.tag }},mode=max
  #         push: true
  #         tags: |
  #           keepsuit/laravel-app:${{ matrix.tag }}
